<section class="hero has-background-grey-lighter hug">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form class="box">
{{!----------------------------------------------- DASHBOARD TABLE -------------------------------------------}}
                        <table
                            class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                                <tr style="text-align: center; font-weight: bold; font-size: 115%">
                                    <th class="table-id">ID 📇</th>
                                    <th class="table-title">Title 📚</th>
                                    <th class="table-author">Author 🧑‍🦲</th>
                                    <th class="table-created">Date/Time 🗓️</th>
                                    <th class="table-edit">Edit ✍️</th>
                                    <th class="table-delete">Delete ❌</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each posts}}
                                    <tr style="text-align: center">
                                        <td>{{this.id}}</td>
                                        <td>{{this.title}}</td>
                                        <td>{{this.user.username}}</td>
                                        <td>{{format_date this.createdAt}}</td>
                                        <td>
                                            <a href="/edit/{{this.id}}">Edit ✍️</a>
                                        </td>
                                        <td>
                                            <a class="delete-post" data-id="{{this.id}}">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/dashboard.js"></script>