<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
                        <title>Blog Git 🕹️</title>
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/bulma-divider.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <script src="../js/config/apiConfig.js"></script>
    </head>
{{!------------------------------------ IMAGE SPACE ---------------------------------------}}
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="card-img-top" style="width: 100%">
              <img id="homelogo" style="boder-radius: 1em; border: 1px solid black; width: 75%" 
                  src="https://res.cloudinary.com/dhqsixgmo/image/upload/v1665144349/blog-it-images/th_t3adyl.jpg" 
                    alt="placeholder image"/>
            </div>
          </div>
        </div>
{{!------------------------------------- POST SPACE --------------------------------------------}}
<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2" style="padding-top: 5%">
      <div class="card" style="width: 100%; padding-top: 3%; text-align: center">
        <h1 class="title"><a href="/edit/{{posts.0.0.id}}">{{posts.0.0.title}}</a></h1>
        <img class="card-img-top" src="{{posts.0.0.image}}" alt="Card image">
      <div class="card-body">
        <h2>{{format_date posts.0.0.createdAt}}</h2>
        <h6>by {{posts.0.0.user.username}}</h6>
        <p class"card-text">{{posts.0.0.content}}</p>
      </div>
      </div>
    </div>
  </div>
</section>
{{!------------------------------------ *END* POST SPACE *END* ----------------------------------}}
<div class="is-divider"></div>
      </div>
    </div>
  </section>
  {{!--------------------------------------------- POST MAP ----------------------------------------------}}
  <section class="hero ">
    <div class="hero-body-neg">
      <div class="container">
        {{#each posts as |post|}}
          {{#if @first}}
           
          {{else}}
            {{> post-summary}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </section>
  <script src='/js/index.js'></script>
</html>